<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="restaurantsCRUD">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner row">
      <form action="/restaurantsCRUD" class="col pe-0">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>

      <!--  create button -->
      <div class="col-1 d-flex flex-row-reverse align-items-end p-0">
        <a href="/restaurantsCRUD/new"><button class="create btn btn-major"><i
              class="fa-solid fa-plus"></i></button></a>
      </div>

    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row row-cols-sm-3">
    {{#each restaurants}}
    <div class="col-md-4 col-12 mb-3 px-5">
      <a href="/restaurantsCRUD/{{this.id}}/detail" class="text-secondary">
        <div class="card mb-3">
          <img class="card-img-top" src="{{this.image}}" alt="{{this.id}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>{{this.category}}
            </div>
            <span class="badge rounded-pill bg-danger font-weight-normal">
              {{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
        </div>
      </a>

      <div class="d-flex justify-content-end">
        <a class="mx-1" href="/restaurantsCRUD/{{this.id}}/detail">detail</a>
        <a class="mx-1" href="/restaurantsCRUD/{{this.id}}/edit">edit</a>
        <form class="mx-1" action="/restaurantsCRUD/{{this.id}}/delete?_method=DELETE" method="POST"
          style="display: inline;">
          <button type="submit">delete</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</div>